@font-face {
  font-family: 'Noto Serif';
  src: url('../assets/NotoSerif-Regular.ttf');
}

@font-face {
  font-family: 'Noto Serif';
  font-weight: 700;
  src: url('../assets/NotoSerif-Bold.ttf');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/Helvetica-Bold.otf');
}


@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/Helvetica-Regular.otf');
}