@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 500;
  src: url('../assets/Helvetica-Bold.otf');
}


@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/Helvetica-Regular.otf');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../assets/OpenSans-Regular.ttf');
}