@import './vars.scss';
@import './zero.scss';
@import './fonts.scss';
@import './fontawesome/fontawesome.scss';
@import './fontawesome/solid.scss';
@import './fontawesome/brands.scss';

:root {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  @media only screen and (max-width: 600px) {
    font-size: 15px;
  }
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  * {
    box-sizing: inherit;
  }
  background-color: var(--bg);
  height: 100vh;
  color: var(--font);
}

h1,
h2,
h3,
h4 {
  font-family: 'Helvetica Neue';
  line-height: 1.5;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}

p,
li {
  line-height: 28px;
  font-size: 16px;
}

@media only screen and (max-width: 786px) {
  p,
  li,
  em,
  strong {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
}
.wrapper {
  margin: 20px 0;
}

// Post preview styles
.post-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.post-item {
  display: flex;
  margin-bottom: 20px;
  h3 {
    margin: 0;
    padding: 0;
  }
  p {
    color: var(--font);
    opacity: 0.8;
    font-size: 15px;
    margin: 0;
    line-height: 1.6;
  }
}

.post-text {
  width: calc(100% - 100px);
}
