$bg: #F2C94C;
$bgFront: #303030;
$fontColor: #C1C1C1;

html {
  --bg: #303030;
  --font: #C1C1C1;
  --bg2: #F2C94C;
  --termBg: #2D2B55;
  --termFont: white;
  --termOutput: #A599E9;
  --termPromptBg: #FF9D00;
  --termPromptFont: white;
}


// BACKGROUND: 
// DARK THEME: #303030
// LIGHT THEME: #181818

// FONT:
// DARK THEME: #C1C1C1
// LIGHT THEME: black